.PokeFlex {
    display:flex;
    grid-template-columns: 50px 50px;
    background-color: blue;
    width: 400px;
    height: 400px;
    overflow: auto;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 100px;
    height: 80px;
}